*{
    padding: 0;
    margin: 0;
}

body{
height: 100vh;
background: linear-gradient(
    to right,
    white 0%,
    white 20%,
    rgb(50, 60, 80) 20%,
    rgb(50, 60, 80) 35%,
    white 35%,
    white 100%
);

}